<div class="col-12">
  <div class="row">
    <div class="col-3">
      <div class="overlay">
        <img class="overlay-image" src="assets/img/layers/boundaries.png">
        <div class="overlay-title">Boundaries</div>
      </div>
    </div>
    <div class="col-3">
      <div class="overlay">
        <img class="overlay-image" src="assets/img/layers/events.png">
        <div class="overlay-title">Events</div>
      </div>
    </div>
    <div class="col-3">
      <div class="overlay">
        <img class="overlay-image" src="assets/img/layers/facilities.png">
        <div class="overlay-title">Facilities</div>
      </div>
    </div>
    <div class="col-3">
      <div class="overlay">
        <img class="overlay-image" src="assets/img/layers/thematic.png">
        <div class="overlay-title">Thematic</div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-3">
      <div class="overlay">
        <img class="overlay-image" src="assets/img/layers/elevation.png">
        <div class="overlay-title">Elevation</div>
      </div>
    </div>
    <div class="col-3">
      <div class="overlay">
        <img class="overlay-image" src="assets/img/layers/nighttime.png">
        <div class="overlay-title">Nighttime</div>
      </div>
    </div>
    <div class="col-3">
      <div class="overlay">
        <img class="overlay-image" src="assets/img/layers/population.png">
        <div class="overlay-title">Population</div>
      </div>
    </div>
    <div class="col-3">
      <div class="overlay">
        <img class="overlay-image" src="assets/img/layers/precipitation.png">
        <div class="overlay-title">Precipitation</div>
      </div>
    </div>
  </div>
</div>
