<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a>&nbsp;&nbsp;</a>
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item dropdown " [ngClass]="{show:showAddLayer}">
        <a class="nav-item nav-link imap-button-default" (click)="toggleAddLayer()">
          ADD LAYER
        </a>
        <div class="dropdown-menu layer-container" [ngClass]="{show:showAddLayer}">
          <app-new-layer-form>
          </app-new-layer-form>
          <div class="col-12">
            <div class="d-flex justify-content-end">
              <a class="imap-button-default" (click)="cancelAddLayer()">
                CANCEL
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown " [ngClass]="{visibility:wrenchButtonVisibility}">
        <a class="nav-item nav-link dropdown-toggle mr-md-2 imap-button-default" (click)="toggleFavouritePanel()">
          FAVOURITES
        </a>
        <div class="dropdown-menu layer-container" [ngClass]="{show:showFavouritePanel}" style="padding-top:0rem;">
          <app-favourites
            [mapFavourites]="currentFavouritePage">
          </app-favourites>
          <div class="row">
          <div class="col-8">
            <app-pagination *ngIf="mapFavourites"
                            (returnCurrentPage)="setCurrentFavouritePage($event)"
                            [paginationMapFavourites]="mapFavourites"
                            [pageSize]="20">
            </app-pagination>
          </div>
          <div class="col-4">
            <div class="d-flex justify-content-end">
              <a class="imap-button-default" (click)="cancelFavouritePanel()">
                CLOSE
              </a>
              &nbsp;
            </div>
          </div>
          </div>
        </div>
      </li>
      <li class="nav-item" [ngClass]="{visibility:wrenchButtonVisibility}">
        <a class="nav-item nav-link imap-button-default">
          CHART
        </a>
      </li>
      <li class="nav-item" [ngClass]="{visibility:wrenchButtonVisibility}">
        <a class="nav-item nav-link imap-button-default">
          TABLE
        </a>
      </li>
      <li class="nav-item" [ngClass]="{visibility:wrenchButtonVisibility}">
        <a class="nav-item nav-link imap-button-default">
          SHARE
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link imap-button-default" (click)="toggleWrenchButtons()">
          <i class="fa fa-wrench" *ngIf="wrenchButtonVisibility"></i>
          <i class="fa fa-remove" *ngIf="!wrenchButtonVisibility"></i>
        </a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item dropdown " [ngClass]="{show:showViewModeConfiguration}">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" (click)="toggleViewModeConfiguration()"
      >
        <i class="fa fa-cog"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right "
           [ngClass]="{show:showViewModeConfiguration}">
        <a class="dropdown-item "
           [ngClass]="{active:viewModeConfiguration=='2D'}"
           (click)="changeViewMode('2D')"
           style="cursor: pointer">2D View</a>
        <a class="dropdown-item"
           [ngClass]="{active:viewModeConfiguration=='3D'}"
           (click)="changeViewMode('3D')"
           style="cursor: pointer">3D View</a>
      </div>
    </li>
    &nbsp;
    <li class="nav-item">
      <a class="nav-item nav-link map-view-mode-lable"
         title="{{viewModeConfiguration}} View">{{viewModeConfiguration}}</a>
    </li>
    <li class="nav-item">
      &nbsp;
    </li>
  </ul>
</header>
<div></div>
