.navbar {
  padding: 0rem 0rem;
  color: #000000 !important;
  position: relative;
}

.nav-item{
  margin-right: 5px;
}

.bd-navbar .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #000000;
}

.visibility{
  display:none;
}

.map-view-mode-lable{
  font-weight:bold;
}
